/* 
* Amazium V1.3
* Copyright 2012, Mike Ballan
* www.amazium.co.uk
*/




/***** Reset & Basics *****/

html, body, div, span, applet,
object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details,
embed, figure, figcaption, footer,
header, hgroup, menu, nav, output,
ruby, section, summary, time, mark,
audio, video 							{ margin: 0; padding: 0; border: 0; font-size:100%; font:inherit; vertical-align:baseline; }

article, aside, details, figcaption, 
figure, footer, header, hgroup, menu, 
nav, section 							{ display:block; }

body 									{ line-height:1; }

ol, ul 									{ list-style:none; }

blockquote, q 							{ quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after 						{ content:''; content:none; }

table 									{ border-collapse:collapse; border-spacing:0; }

img 									{ border:0; -ms-interpolation-mode:bicubic; vertical-align: top; }
	
/***** Basic Styles *****/

html 									{ overflow-y:scroll; overflow:-moz-scrollbars-vertical; }
/*body									{ background:#f5f5f5; font-size:13px; font-family:"Helvetica Neue", Helvetica, sans-serif; color:#555; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; }*/

/***** Typography *****/

/*h1, h2, h3 								{ font-weight:normal; font-family:"Roboto Slab", sans-serif; color:#444; } 
h1 										{ margin-bottom:15px; font-size:28px; line-height:35px; }
h2 										{ margin-bottom:10px; font-size:16px; line-height:22px; text-transform: uppercase; }
h3										{ margin-bottom:10px; font-size:16px; line-height:20px; }

p 										{ margin: 0; padding: 0 0 20px 0; line-height:20px; }*/
strong 									{ font-weight:bold; }
em 										{ font-style:italic; color:#666; }
small 									{ font-size:11px; }

/***** Links *****/

/*ul										{ list-style: inside disc; padding-left: 10px; }
ul > li									{ font-size: 13px; line-height: 20px; margin-bottom: 5px; }*/

/***** Links *****/

a:link 									{ text-decoration:none;}
/*a:link 									{ color:#333; text-decoration:underline; font-style: italic; outline:0; -webkit-transition: color .1s; -moz-transition: color .1s; -o-transition: color .1s; transition: color .1s; }
a:visited 								{ color:#333; text-decoration:none; outline:0; }
a:active 								{ color:#333; text-decoration:none; outline:0; }
a:hover 			 					{ color:#666; text-decoration:underline; outline:0; }*/
a:focus 								{ -moz-outline-style:none; }

/***** Buttons  *****/

a.btn, .btn								{ display: inline-block; padding: 10px 15px; margin: 0 2px; margin-bottom: 5px; line-height: 18px; color: #fff; font-weight: bold; background-color: #3CD4B5; border: 0; border-radius: 4px; border-bottom: 2px solid #2EA18A; text-shadow: -1px 0 0 rgba(0,0,0,0.1); text-decoration: none; }
a.btn:hover, .btn:hover					{ text-decoration: none; }
a.btn-action							{ background-color: #ff5254; border-bottom: 2px solid #CC4243; }
a.btn:hover span						{ padding: 0 0 1px; border-bottom: 1px dashed rgba(255,255,255,0.5); }
	
/***** Global Classes *****/

.img-left   							{ float:left; margin:0 30px 30px 0; border:none; }
.img-right  							{ float:right; margin:0 0 30px 30px; border:none; }
.max-img 								{ width:100%; height:auto; }		
	
.clear       							{ clear:both; }
.float-left 							{ float:left; }
.float-right   							{ float:right; }

.text-big								{ color:#a2bd30; font-weight:bold; line-height:26px; }
.text-left    							{ text-align:left; }
.text-right    							{ text-align:right; }
.text-center   							{ text-align:center; }
.text-justify  							{ text-align:justify; }

.normal									{ font-weight:normal; }
.bold          							{ font-weight:bold; }
.italic        							{ font-style:italic; }
.underline     							{ border-bottom:1px solid; }

.nopadding 						   		{ padding:0; }
.noindent  						   		{ margin-left:0; padding-left:0; }

.block									{ display:block; }
.hidden									{ display:none; }
.hide 									{ display:none; }


